<!-- footer -->
<div class="footer bg-gray pt-5 pb-3 text-center mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <div>
            <img src="static/img/townwayLogo.svg" alt="" style="width:150px">
        </div>
        <div class="mx-5 px-5 text-left d-none d-lg-block">
            <p class="font-weight-bold text-small">電話 049-2657366</p>
            <p class="font-weight-bold text-small">電子信箱 forus999@gmail.com</p>
            <p class="font-weight-bold text-small">地址 557 南投縣竹山鎮頂橫街 1 號</p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/townway104" target="_blank" rel="noreferrer noopener"><img src="static/img/index/fbLogo.svg" class="d-none d-lg-block" alt="" style="height: 20px;"></a>
            <a href="https://www.instagram.com/townway104/" target="_blank" rel="noreferrer noopener"><img class="pl-4 d-none d-lg-block" src="static/img/index/igLogo.svg" alt="" style="height: 20px;"></a>
            <a href="https://lin.ee/u3B860U" target="_blank" rel="noreferrer noopener"><img class="pl-4 d-none d-lg-block" src="static/img/index/lineLogo.svg" alt="" style="height: 20px;"></a>
            <a href="https://www.youtube.com/user/forus999" target="_blank" rel="noreferrer noopener"><img class="pl-4 d-none d-lg-block" src="static/img/index/youtubeLogo.svg" alt="" style="height: 20px;"></a>
        </div>
    </div>
    <div class="d-lg-none">
        <p class="pt-3 text-line-height font-weight-bold text-small">電話 049-2657366 <br> 電子信箱 forus999@gmail.com <br> 地址 557 南投縣竹山鎮頂橫街 1 號</p>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <p class="d-none d-lg-block text-smaller">Copyright &copy; 小鎮文創股份有限公司 | 網頁設計 小鎮智能 | 本網站感謝台北城東扶輪社贊助</p>
        <p class="d-lg-none text-line-height text-smaller">Copyright &copy; 小鎮文創股份有限公司 <br> 網頁設計 小鎮智能 <br> 本網站感謝台北城東扶輪社贊助</p>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a href="https://www.facebook.com/townway104" target="_blank" rel="noreferrer noopener"><img src="static/img/index/fbLogo.svg" class="d-lg-none" alt="" style="height: 20px;"></a>
        <a href="https://www.instagram.com/townway104/" target="_blank" rel="noreferrer noopener"><img class="pl-4 d-lg-none" src="static/img/index/igLogo.svg" alt="" style="height: 20px;"></a>
        <a href="https://lin.ee/u3B860U" target="_blank" rel="noreferrer noopener"><img class="pl-4 d-lg-none" src="static/img/index/lineLogo.svg" alt="" style="height: 20px;"></a>
        <a href="https://www.youtube.com/user/forus999" target="_blank" rel="noreferrer noopener"><img class="pl-4 d-lg-none" src="static/img/index/youtubeLogo.svg" alt="" style="height: 20px;"></a>
    </div>
</div>
