<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小鎮文創</title>
    <!-- <script src="https://kit.fontawesome.com/80f60e4717.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<!-- navbar -->
{% include "modules/navbar.html" %}

<!-- classification title -->
<section>
    <div class="container text-center">
        <p class="h2 font-weight-bold">聯絡我們</p>
        <p class="h4 font-weight-lighter">X</p>
        <p class="h6">CONTACT US</p>
    </div>    
</section>

<!-- content -->
<section>
    <div class="container mt-5">
        <div class="row mt-3 mt-md-5 justify-content-center">
            <div class="col-md-9">
                <p class="h3 font-weight-bold text-center text-middle">請留下您的需求，我們將盡快回覆您。</p>
                <form class="mt-5">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault01" class="text-small">*姓名</label>
                        <input type="text" class="form-control" id="validationDefault01" value="" required>
                        </div>
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault02" class="text-small">*電子信箱</label>
                        <input type="text" class="form-control" id="validationDefault02" value="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault03" class="text-small">*行動電話</label>
                        <input type="text" class="form-control" id="validationDefault03" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault04" class="text-small">連絡電話</label>
                            <input type="text" class="form-control" id="validationDefault04">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="validationDefault05" class="text-small">*您的需求</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" required></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-dark btn-lg rounded-pill mt-5" type="submit">確定送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
{% include "modules/footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
