<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小鎮文創</title>
    <!-- <script src="https://kit.fontawesome.com/80f60e4717.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<!-- navbar -->
{% include "modules/navbar.html" %}

<!-- classification title -->
<section>
    <div class="container text-center">
        <p class="h2 font-weight-bold">我有好點子</p>
        <p class="h4 font-weight-lighter">X</p>
        <p class="h6">GOOD IDEA</p>
    </div>    
</section>

<nav class="navbar navbar-expand-md navbar-light justify-content-center mt-5">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="goodIdea?name=goodIdeaWork">專長換宿</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="goodIdea?name=goodIdeaInternship">實習合作</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="goodIdea?name=goodIdeaOverseas">海外專案</a>
        </li>
    </ul>
</nav>

<!-- content -->
<ul class="pagination justify-content-center mt-5">
coming soon ...
</ul>

<!-- footer -->
{% include "modules/footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
