<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小鎮文創</title>
    <!-- <script src="https://kit.fontawesome.com/80f60e4717.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

	$(document).ready(function () {
	  var formCart = function () {
	    var formData = $("#formCart").serialize();
	    $.ajax({
		type: 'post',
		data: formData,
		dataType: 'json',
		url: '/add_cart',

		error: function () {
		    alert("There was an error processing this page.");
		    return false;
		},

		complete: function (output) {
		    console.log("Success");
		    $('#formCartResults').html(output.responseText);
		}
	    });
	    return false;
	  };

	  $("#basic-submit").on("click", function (e) {
	    e.preventDefault();
	    formCart();
	  });
	});

    </script>
</head>
<body>

<!-- navbar -->
{% include "modules/navbar.html" %}

<!-- classification title -->
<section>
    <div class="container text-center">
        <p class="h2 font-weight-bold">益站</p>
        <p class="h4 font-weight-lighter">X</p>
        <p class="h6">STORE</p>
        <p class="mt-5">以『車站』為意念作為出發點，<br>建構一個有進有出、相互交流、持續流動的生活品牌。</p>
    </div>    
</section>

<nav class="navbar navbar-expand-md navbar-light justify-content-center mt-5">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/store">販賣機</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/organicCrops">安心農產</a>
        </li>
    </ul>
</nav>

<!-- content -->
<section>
    <div class="container mt-5">
        <div class="row mt-3 mt-md-5 justify-content-center">
            <div class="col-md-7">
                <div class="d-flex justify-content-center">
                    <iframe width="853" height="480" src="https://www.youtube.com/embed/rq2G5Mu2G_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="row mt-3 mt-md-5 justify-content-center">
            <div class="col-md-9">
                <p class="text-middle font-weight-bold text-gray">足安心 社區支持型農業 蔬菜箱</p>
                <p class="text-small mt-18 text-line-height">商品介紹</p>
                <p class="text-small mt-18 text-line-height">A、300元為計價組合的蔬菜箱（6～8樣）</p>
                <p class="text-small mt-18 text-line-height">B、400元為計價組合的蔬菜箱（8～10樣）</p>
                <p class="text-small mt-18 text-line-height">C、500元為計價組合的蔬菜箱（10～12樣）</p>
                <ul>
                    <li class="text-small mt-18 text-line-height">水果、稻米、加工品等，另加計之。</li>
                    <li class="text-small mt-18 text-line-height">若有不喜愛之蔬菜，可提前告知，配菜時會幫您過濾。</li>
                    <li class="text-small mt-18 text-line-height">訂購方案可於配送當週前聯繫變更。</li>
                    <li class="text-small mt-18 text-line-height">每週會公布下個月蔬菜種類。</li>
                </ul>
                <p class="text-small mt-18 text-line-height">冬筍會員</p>
                <ul>
                    <li class="text-small mt-18 text-line-height">預先儲值15,000元，蔬菜箱方案享10%優惠。</li>
                    <li class="text-small mt-18 text-line-height">預先儲值者可享1-2次免費或優惠價格的農場參訪、DIY、體驗等活動。</li>
                </ul>
                <p class="text-small mt-18 text-line-height">取貨點自取者</p>
                <ul>
                    <li class="text-small mt-18 text-line-height">結帳扣款時再享5%優惠。</li>
                </ul>
            <form id="formCart" name="formCart">
                <div class="d-sm-flex align-items-center text-center justify-content-sm-around bg-gray py-3 px-2">
                    <div class="custom-control custom-radio pr-2">
                        <input type="radio" class="custom-control-input" id="validationDefault01" name="radio-stacked" required>
			<input type="hidden" name="name" value="veg_box">
                        <label class="custom-control-label" for="validationDefault01" style="width: 130px;">60、90、120 cm</label>
                    </div>
                    <div class="text-center">
                        <span class="mb-0 mt-3 mt-sm-0 pr-2 d-inline-block" style="width: 130px;">NTD.300-500 元</span>
                    </div>

                    <div class="d-flex align-items-center mt-3 mt-sm-0  pr-sm-2">
                        <label for="validationDefault02" class="mb-0" style="width: 65px;">品項</label>
                        <select class="custom-select" id="validationDefault02" name="spec" required>
                            <option selected disabled value="">請選擇</option>
                            <option value="60">60 cm</option>
                            <option value="90">90 cm</option>
                            <option value="120">120 cm</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center mt-3 mt-sm-0">
                        <label for="validationDefault03" style="width: 65px;" class="mb-0">數量</label>
                        <input type="number" class="form-control" id="validationDefault03" min="1" max="20" name="count" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea name="comment" class="form-control" placeholder="若有其他特殊需求，請填寫此欄位(非必填)" id="exampleFormControlTextarea1" rows="10"></textarea>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center mt-5">
		    <button type="button" class="btn btn-dark rounded-pill mr-md-5" id="basic-submit">加入購物車</button>
                    <a href="/purchase_01" class="btn btn-dark rounded-pill mt-3 mt-md-0">直接購買</a>


                    <!--<button type="button" class="btn btn-dark rounded-pill mr-md-5" id="basic-submit">加入購物車</button>-->
                </div>
            </form>

            </div>
        </div>
    </div>
</section>

<!-- footer -->
{% include "modules/footer.html" %}
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
