<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小鎮文創</title>
    <!-- <script src="https://kit.fontawesome.com/80f60e4717.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<!-- navbar -->
{% include "modules/navbar.html" %}

<!-- classification title -->
<section>
    <div class="container text-center">
        <p class="h2 font-weight-bold">益站</p>
        <p class="h4 font-weight-lighter">X</p>
        <p class="h6">STORE</p>
        <p class="mt-5">以『車站』為意念作為出發點，<br>建構一個有進有出、相互交流、持續流動的生活品牌。</p>
    </div>    
</section>

<nav class="navbar navbar-expand-md navbar-light justify-content-center mt-5">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/store">販賣機</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/organicCrops">安心農產</a>
        </li>
    </ul>
</nav>

<!-- content -->
<section>
    <div class="container mt-5">
        <div class="row mt-3 mt-md-5 justify-content-center py-2" style="position: relative;">
            <div class="col-md-9">
                    <img class="img-fluid mt-3 d-none d-lg-block" src="static/img/organicCrops/vegetableBoxBanner-1140.png" alt="">
                    <img class="img-fluid mt-3 d-none d-md-block d-lg-none" src="static/img/organicCrops/vegetableBoxBanner-720.png" alt="">
                    <img class="img-fluid mt-3 d-md-none" src="static/img/organicCrops/vegetableBoxBanner-540.png" alt="">
            </div>
        </div>
        <div class="row mt-20 justify-content-center">
            <div class="col-md-9">
                <p class="text-middle font-weight-bold text-gray">支持方案</p>
                <p class="text-small text-line-height mt-18">A、300元為計價組合的蔬菜箱（6～8樣）</p>
                <p class="text-small text-line-height mt-18">B、400元為計價組合的蔬菜箱（8～10樣）</p>
                <p class="text-small text-line-height mt-18">C、500元為計價組合的蔬菜箱（10～12樣）</p>
                <ul>
                    <li class="text-small text-line-height mt-18">水果、稻米、加工品等，另加計之。</li>
                    <li class="text-small text-line-height mt-18">若有不喜愛之蔬菜，可提前告知，配菜時會幫您過濾。</li>
                    <li class="text-small text-line-height mt-18">訂購方案可於配送當週前聯繫變更。</li>
                    <li class="text-small text-line-height mt-18">每週會公布下個月蔬菜種類。</li>
                </ul>
                <p class="text-middle font-weight-bold text-gray mt-20">付費方式與優惠說明</p>
                <p class="text-small text-line-height mt-18">冬筍會員</p>
                <ul>
                    <li class="text-small text-line-height mt-18">預先儲值15,000元，蔬菜箱方案享10%優惠。</li>
                    <li class="text-small text-line-height mt-18">預先儲值者可享1-2次免費或優惠價格的農場參訪、DIY、體驗等活動。</li>
                </ul>
                <p class="text-small text-line-height mt-18">取貨點自取者</p>
                <ul>
                    <li class="text-small text-line-height mt-18">結帳扣款時再享5%優惠。</li>
                </ul>
                <p class="text-middle font-weight-bold text-gray mt-20">收/取蔬菜箱方式</p>
                <ul>
                    <li class="text-small text-line-height mt-18">足安心每週四下午配送，配送區域限竹山、鹿谷。</li>
                    <li class="text-small text-line-height mt-18">營業時間內(每週四10:00-16:00)自行至取貨點取貨(竹山台西客運1樓)。</li>
                </ul>
                <p class="text-middle font-weight-bold text-gray mt-20">合作生產者</p>
                <div class="d-md-flex mt-4 justify-content-between">
                    <div class="d-flex flex-column justify-content-center align-items-center pr-md-3 mt-5 mt-md-0">
                        <img class="rounded-circle" src="static/img/organicCrops/farmer-01.png" alt="" style="width: 100px;">
                        <p class="text-small font-weight-bold mt-3 text-center">鹿谷<br>駿原農場</p>
                        <p>廖宥勝</p>
                        <p class="text-center text-small">絲瓜、大黃瓜、高麗菜、青花菜等</p>
                        <span class="badge badge-pill badge-success mt-3">有機驗證</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center pr-md-3 mt-5 mt-md-0">
                        <img class="rounded-circle" src="static/img/organicCrops/farmer-02.png" alt="" style="width: 100px;">
                        <p class="text-small font-weight-bold mt-3 text-center">竹山<br>心賴農場</p>
                        <p>張世昌</p>
                        <p class="text-center text-small">水稻、芭蕉、龍鬚菜、紅龍果等</p>
                        <span class="badge badge-pill badge-success mt-3">有機驗證</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center pr-md-3 mt-5 mt-md-0">
                        <img class="rounded-circle" src="static/img/organicCrops/farmer-03.png" alt="" style="width: 100px;">
                        <p class="text-small font-weight-bold mt-3 text-center">竹山<br>艾合美農場</p>
                        <p>林承陽</p>
                        <p class="text-center text-small">玉米筍、稻米、地瓜葉、玉米等</p>
                        <span class="badge badge-pill badge-success mt-3">綠色保育標章農場</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center pr-md-3 mt-5 mt-md-0">
                        <img class="rounded-circle" src="static/img/organicCrops/farmer-04.png" alt="" style="width: 100px;">
                        <p class="text-small font-weight-bold mt-3 text-center">竹山<br>榮榮農場</p>
                        <p>陳熟榮</p>
                        <p class="text-center text-small">竹筍、高麗菜、花椰菜、百香果等</p>
                        <span class="badge badge-pill badge-success mt-3">友善耕作農場</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center mt-5 mt-md-0">
                        <img class="rounded-circle" src="static/img/organicCrops/farmer-05.png" alt="" style="width: 100px;">
                        <p class="text-small font-weight-bold mt-3 text-center">有機驗證<br>農場</p>
                        <p>陳以育</p>
                        <p class="text-center text-small">高麗菜、玉米、芹菜、萵苣等</p>
                        <span class="badge badge-pill badge-success mt-3">有機驗證</span>
                    </div>   
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center mt-5">
                    <a href="/organicCrops?page=organicCropsMembers" class="btn btn-dark rounded-pill mr-md-5">加入冬筍會員</a>
                    <a href="/organicCrops?page=organicCropsProduct" class="btn btn-dark rounded-pill mt-3 mt-md-0">訂購蔬菜箱</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
{% include "modules/footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
