{% block content %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小鎮文創</title>
    <!-- <script src="https://kit.fontawesome.com/80f60e4717.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<script type="text/javascript">
    function same_as_order(obj) {
       document.getElementsByName("recipient_name")[0].value = document.getElementsByName("name_order")[0].value;
       document.getElementsByName("recipient_email")[0].value = document.getElementsByName("email_order")[0].value;
       document.getElementsByName("recipient_email")[0].value = document.getElementsByName("email_order")[0].value;
       document.getElementsByName("recipient_cellphone")[0].value = document.getElementsByName("order_cellphone")[0].value;
       document.getElementsByName("recipient_phone")[0].value = document.getElementsByName("order-phone")[0].value;
       document.getElementsByName("recipient_address")[0].value = document.getElementsByName("order_address")[0].value;
    }
</script>
<body>

<!-- navbar -->
{% include "modules/navbar.html" %}

<!-- classification title -->
<section>
    <div class="container text-center">
        <p class="h2 font-weight-bold">購物結帳</p>
        <p class="h4 font-weight-lighter">X</p>
        <p class="h6">SHOPPING CART</p>
    </div>    
</section>

<!-- content -->
<section>
    <div class="container">
        <div class="row mt-3 mt-md-5 justify-content-center">
        <div class="col-md-9">
            <p class="text-middle font-weight-bold text-gray mt-20">訂單列表</p>
            <div class="accordion" id="accordionExample">
                <div class="card border-bottom mt-4">
                    <div class="card-header d-flex" id="headingOne">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        顯示購物車細節
                        </button>
                        <div class="text-middle ml-auto mb-0">NT.{{total_cost}}</div>
                    </div>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="d-none d-md-block">
                        <table class="table table-sm">
                            <thead>
                                <tr class="bg-gray">
                                    <th  class="align-middle text-center" width="150">商品縮圖</th>
                                    <th class="align-middle text-center" scope="col" width="150">
                                    商品名稱
                                    </th>
                                    <th class="align-middle text-center" scope="col" width="150">
                                    規格
                                    </th>
                                    <th class="align-middle text-center" scope="col">
                                    數量
                                    </th>
                                    <th class="align-middle text-center" scope="col">
                                    小計
                                    </th>
                                    <th class="align-middle text-center" width="60" scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
			       {% for obj in list_order %}
				 <tr>
				   <td>
				     <img class="img-fluid" src="{{obj.thumbnail}}" alt=""/>
				   </td>

				   <td class="align-middle text-center">{{obj.spec}}</td>
				   <td class="align-middle text-center">{{obj.name}}</td>
				   <td class="align-middle text-center">{{obj.count}}</td>
				   <td class="align-middle text-center">${{obj.cost}}</td>
				   <td class="align-middle text-center">
				   <a class="text-dark" href="#removeModal" class="text-muted" data-toggle="modal">刪除</a>
				   <a href="" href="#removeModal" class="text-muted" data-toggle="modal">
				   <img class="img-fluid pb-1" src="static/img/purchase/purchaseTrashCan.svg" alt="" style="height: 20px;"></a>
				  </td>
				</tr>
			       {% endfor %}
                            <tr>
                                <th class="text-right" colspan="5">運費</th>
                                <th class="text-right">NT.0</th>
                            </tr>
                            <tr>
                                <th class="text-right" colspan="5">合計</th>
                                <th class="text-right">NT.{{total_cost}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-md-none">
                        <table class="table table-sm">
                            <thead>
                                <tr class="bg-gray">
                                    <th class="align-middle" scope="col" width="80">
                                    商品名稱
                                    </th>
                                    <th class="align-middle text-center" scope="col" width="80">
                                    規格
                                    </th>
                                    <th class="align-middle text-center" scope="col">
                                    數量
                                    </th>
                                    <th class="align-middle text-center" scope="col">
                                    小計
                                    </th>
                                    <th class="align-middle text-center" width="60" scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">動物燈飾</td>
                                    <td class="align-middle text-center">大象燈飾</td>
                                    <td class="align-middle text-center">1</td>
                                    <td class="align-middle text-center">$580</td>
                                    <td class="align-middle text-center">
                                        <a class="text-dark" href="#removeModal" class="text-muted" data-toggle="modal" data-title="刪除 大象燈飾 1 件">刪除</a>
                                        <a href="" href="#removeModal" class="text-muted" data-toggle="modal" data-title="刪除 大象燈飾 1 件"><img class="img-fluid pb-1" src="static/img/purchase/purchaseTrashCan.svg" alt="" style="height: 20px;"></a>
                                    </td>
                                </tr>            
                            <tr>
                                <th class="text-right" colspan="4">運費</th>
                                <th class="text-right">NT.0</th>
                            </tr>
                            <tr>
                                <th class="text-right" colspan="4">合計</th>
                                <th class="text-right">NT.{{total_cost}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="row mt-3 mt-md-5 justify-content-center">
            <div class="col-md-9">
                <form action="/purchaseOrderCheck_01" method="POST">
                    <p class="text-middle font-weight-bold text-gray">付款方式</p>
                    <div class="d-flex mt-18">
                        <div class="custom-control custom-radio mr-5">
                            <input type="radio" id="method1" name="method" value="ATM" class="custom-control-input" required>
                            <label class="custom-control-label text-small text-line-height" for="method1">ATM轉帳匯款</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="method2" name="method" value="VISA" class="custom-control-input " required>
                            <label class="custom-control-label text-small text-line-height" for="method2">信用卡付款</label>
                        </div>
                    </div>
                    <div class="mt-18">
                        <p class="text-small text-line-height mt-18">戶名：小鎮文創股份有限公司</p>
                        <p class="text-small text-line-height mt-18">匯款銀行：合作金庫銀行 竹山分行</p>
                        <p class="text-small text-line-height mt-18">銀行帳號：354-123567367</p>
                        <p class="text-small text-line-height mt-18">銀行代號：006</p>
                    </div>
                    <div class="mt-18">
                        <p class="text-small text-line-height mt-18">匯款後為方便快速核對並處理您的出貨，請提供帳號後五碼核對。</p>
                        <p class="text-small text-line-height mt-18">聯絡資訊如下：</p>
                        <p class="text-small text-line-height mt-18">電話：049-2657366</p>
                        <p class="text-small text-line-height mt-18">官方LINE ID：@townway</p>
                        <p class="text-small text-line-height mt-18">E-mail：forus999@gmail.com</p>
                    </div>
                    <p class="text-middle font-weight-bold text-gray mt-20">統一發票</p>
                    <div class="d-flex mt-18">
                        <div class="custom-control custom-radio mr-5">
                            <input type="radio" id="invoice2" name="invoice" value="二聯" class="custom-control-input" required>
                            <label class="custom-control-label text-small text-line-height " for="invoice2">二聯式紙本發票</label>
                        </div>
                        <div class="custom-control custom-radio mr-5">
                            <input type="radio" id="invoice3" name="invoice" value="三聯" class="custom-control-input" required>
                            <label class="custom-control-label text-small text-line-height " for="invoice3">三聯式紙本發票</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="invoiced" name="invoice" value="捐贈" class="custom-control-input" required>
                            <label class="custom-control-label text-small text-line-height " for="invoiced">捐贈公益團體</label>
                        </div>
                    </div>
                    <p class="text-middle font-weight-bold text-gray mt-20">訂購人資料</p>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault01">*姓名</label>
                        <input type="text" class="form-control" name="name_order" id="validationDefault01" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault02">*電子信箱</label>
                            <input type="text" class="form-control" name="email_order" id="validationDefault02" required>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault03">*行動電話</label>
                        <input type="text" class="form-control" name="order_cellphone" id="validationDefault03" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault04">連絡電話</label>
                            <input type="text" class="form-control" name="order-phone" id="validationDefault04">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault05">*寄送地址</label>
                            <input type="text" class="form-control" name="order_address" id="validationDefault05" required>
                        </div>
                    </div>
                    <p class="text-middle font-weight-bold text-gray mt-20">收件人資料</p>
                    <div class="form-row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="recipient" name="recipient" onclick="same_as_order(this)">
                                    <label class="form-check-label" for="gridCheck">
                                    同訂購人資料
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault06">*姓名</label>
                        <input type="text" class="form-control" id="validationDefault06" name="recipient_name" value="" required>
                        </div>
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault07">*電子信箱</label>
                        <input type="text" class="form-control" id="validationDefault07" name="recipient_email" value="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                        <label for="validationDefault08">*行動電話</label>
                        <input type="text" class="form-control" id="validationDefault08" name="recipient_cellphone" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault09">連絡電話</label>
                            <input type="text" class="form-control" id="validationDefault09" name="recipient_phone">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault10">*寄送地址</label>
                            <input type="text" class="form-control" id="validationDefault10" name="recipient_address" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="validationDefault11">*您的需求</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="comment" required></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-dark btn-lg rounded-pill mt-5" type="submit">確定送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
{% include "modules/footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
