{% block content %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小鎮文創</title>
    <!-- <script src="https://kit.fontawesome.com/80f60e4717.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<!-- navbar -->
{% include "modules/navbar.html" %}

<!-- classification title -->
<section>
    <div class="container text-center">
        <p class="h2 font-weight-bold">購物結帳</p>
        <p class="h4 font-weight-lighter">X</p>
        <p class="h6">SHOPPING CART</p>
    </div>    
</section>

<!-- content -->
<section>
    <div class="container">
        <div class="row mt-3 mt-md-5 justify-content-center">
        <div class="col-md-9">
            <p class="h2 font-weight-bold text-gray">購物車內容</p>
            <div class="d-none d-md-block mt-5">
                <table class="table table-sm">
                    <thead>
                        <tr class="bg-gray">
                            <th  class="align-middle text-center" width="150">商品縮圖</th>
                            <th class="align-middle text-center" scope="col" width="150">
                            商品名稱
                            </th>
                            <th class="align-middle text-center" scope="col" width="150">
                            規格
                            </th>
                            <th class="align-middle text-center" scope="col">
                            數量
                            </th>
                            <th class="align-middle text-center" scope="col">
                            小計
                            </th>
                            <th class="align-middle text-center" width="60" scope="col">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for obj in list_order %}
                         <tr>
                           <td>
                             <img class="img-fluid" src="{{obj.thumbnail}}" alt=""/>
                           </td>
                           
                           <td class="align-middle text-center">{{obj.spec}}</td>
                           <td class="align-middle text-center">{{obj.name}}</td>
                           <td class="align-middle text-center">{{obj.count}}</td>
                           <td class="align-middle text-center">${{obj.cost}}</td>
                           <td class="align-middle text-center">
                           <a class="text-dark" href="/del_cart?id={{loop.index0}}" class="text-muted">刪除</a>
                           <a href="/del_cart?id={{loop.index0}}" class="text-muted">
			   <img class="img-fluid pb-1" src="static/img/purchase/purchaseTrashCan.svg" alt="" style="height: 20px;"></a>
                          </td>
                        </tr>
		       {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-md-none mt-5">
                <table class="table table-sm">
                    <thead>
                        <tr class="bg-gray">
                            <th class="align-middle" scope="col" width="80">
                            商品名稱
                            </th>
                            <th class="align-middle text-center" scope="col" width="80">
                            規格
                            </th>
                            <th class="align-middle text-center" scope="col">
                            數量
                            </th>
                            <th class="align-middle text-center" scope="col">
                            小計
                            </th>
                            <th class="align-middle text-center" width="60" scope="col">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for obj in list_order %}
                         <tr>
                           <td>
                             <img class="img-fluid" src="{{obj.thumbnail}}" alt=""/>
                           </td>

                           <td class="align-middle text-center">{{obj.spec}}</td>
                           <td class="align-middle text-center">{{obj.name}}</td>
                           <td class="align-middle text-center">{{obj.count}}</td>
                           <td class="align-middle text-center">${{obj.cost}}</td>
                           <td class="align-middle text-center">
                           <a class="text-dark" href="/del_cart?id={{loop.index0}}" class="text-muted">刪除</a>
                           <a href="/del_cart?id={{loop.index0}}" class="text-muted">
                           <img class="img-fluid pb-1" src="static/img/purchase/purchaseTrashCan.svg" alt="" style="height: 20px;"></a>
                          </td>
                        </tr>
                       {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-center mt-5">
                <!--<a href="/purchaseOrderCheck_01" class="btn btn-dark rounded-pill mr-md-5">訂單查詢</a>-->
                <a href="/purchase_02" class="btn btn-dark rounded-pill mt-3 mt-md-0">確定結帳</a>
            </div>
        </div>
        </div>
    </div>
</section>

<!-- footer -->
{% include "modules/footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
